@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

html,
body{
  /* background-color: #111827; */
  /* color-scheme: dark; */
  white-space: normal;
  cursor: default;
}


@media (min-width: 1024px) { 
  .left-menu{
    transition: width 0.3s ease, font-size 0.3s ease;
  }
  .left-menu:hover {
    width: 280px;
  }
  .left-menu:hover .left-menu__name{
    font-size: 14px;
  }
  .left-menu:hover .left-menu__name--logo{
    display: none;
  }
  .left-menu__name{
    transition: width 0.3s ease, font-size 0.3s ease;
    font-size: 0px;
    max-height: 35px;
    overflow: hidden;
  }
  

}


.user-profile:hover div{
  border: 2px solid #818cf8
}


.clamped-text {
  display: -webkit-box;
  -webkit-line-clamp: 1; /* Ограничиваем текст на две строки */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis; /* Добавляем троеточие в конце текста */
}
.clamped-text-3 {
  display: -webkit-box;
  -webkit-line-clamp: 2; /* Ограничиваем текст на две строки */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis; /* Добавляем троеточие в конце текста */
}

.category-item:hover .category-item__img{
  border: 1px solid #818cf8
}


@layer base {
  :root {
    --text-second: text-red-400;
  }
 
  .dark {
    --text-second: text-blue-400;
  }
}
